/* sass-plugin-0:/Users/eli/projects/temp/project-banner-vs/src/client/testing.scss */
.banners {
  display: flex;
  flex-direction: column;
}
.banners > .banner {
  display: flex;
  flex-direction: row;
  border: 1px solid #0F0;
}
